In [1]:
# import connector module
import mysql.connector
import csv
def doquery(query):
    cursor.execute(query)
    res = cursor.fetchall()
    for row in res:
        print(row)

In [2]:
# connect to nobels database
mydb = mysql.connector.connect(
  host="localhost",
  user="mgc109",    # replace with your non-root username
  passwd="Jan10apr5!!",  # replace with your password
  database="music"
)

In [3]:
# set up for access
cursor = mydb.cursor()

In [4]:
tables = ['rating','song_playlist','playlist','user','song_genre','song','album','artist']
for table in tables:
    print(table)
    cursor.execute('delete from ' + table)

rating
song_playlist
playlist
user
song_genre
song
album
artist

In [5]:
add_artist = "insert into artist values(%s, %s)"
add_album ="insert into album values(%s,%s,%s)"
add_song ="insert into song values(%s,%s,%s,%s,%s,%s)"
add_song_genre = "insert into song_genre values(%s, %s)"
add_user = "insert into user values(%s)"
add_playlist ="insert into playlist values(%s,%s,%s,%s,%s)"
add_song_playlist = "insert into song_playlist values(%s, %s)"
add_rating = "insert into rating values(%s, %s, %s, %s, %s, %s, %s)"

In [6]:
cursor.execute('select * from artist')
res = cursor.fetchall()

In [7]:
reader = csv.DictReader(open('artists.csv'))
for index,row in enumerate(reader):
    cursor.execute(add_artist,(index+1,row['artist_name']))
mydb.commit()

In [8]:
cursor.execute('select * from artist order by id')
res = cursor.fetchall()
for row in res:
    print(row)

(1, 'Aerosmith')
(2, 'David Bowie')
(3, 'Queen')
(4, 'Louis Armstrong')
(5, 'Elvis Presley')
(6, 'The Doors')
(7, 'Elton John')
(8, 'Benny Goodman')
(9, 'Luke Combs')
(10, 'BTS')
(11, 'BABYMETAL')
(12, 'Snoop Dogg')
(13, 'Bad Bunny')
(14, 'The Captain and Tenille')
(15, 'Looking Glass')
(16, 'Olivia Rodrigo')

In [9]:
reader = csv.DictReader(open('albums.csv'))
for index,row in enumerate(reader):
    idx = index+1
    cursor.execute(add_album,(idx,row['album_title'],row['artist_id']))
mydb.commit()

In [10]:
cursor.execute('select * from album')
res = cursor.fetchall()
for row in res:
    print(row)

(1, 'Toys in the Attic', 1)
(2, 'David Bowie', 2)
(3, 'The Man Who Sold the World', 2)
(4, 'A Night at the Opera', 3)
(5, 'Disney Songs the Satchmo Way', 4)
(6, 'The Doors', 6)
(7, 'Strange Days', 6)
(8, 'Empty Sky', 7)
(9, 'Elton John', 7)
(10, 'Tumbleweed Connection', 7)
(11, 'Madman Across the Water', 7)
(12, 'Goodbye Yellow Brick Road', 7)
(13, 'Caribou', 7)
(14, 'Today', 5)
(15, 'Moody Blue', 5)
(16, 'B.G. in Hi-Fi', 8)
(17, "This One's for You", 9)
(18, 'What You See is What You Get', 9)
(19, 'The Way She Rides', 9)
(20, 'The Prequel', 9)
(21, 'Dark & Wild', 10)
(22, 'You Never Walk Alone', 10)
(23, 'Youth', 10)
(24, 'Face Yourself', 10)
(25, 'Map of the Soul: 7', 10)
(26, 'Metal Galaxy', 11)
(27, 'Metal Resistance', 11)
(28, 'Babymetal', 11)
(29, 'Doggystyle', 12)
(30, 'Tha Doggfather', 12)
(31, 'Tha Last Meal', 12)
(32, 'X 100pre', 13)
(33, 'YHLQMDLG', 13)
(34, 'El Ãšltimo Tour del Mundo', 13)
(35, 'Love Will Keep Us Together', 14)
(36, 'Song of Joy', 14)
(37, 'Looking Glass', 15)

In [11]:
reader = csv.DictReader(open('songs.csv'))
for index,row in enumerate(reader):
    albumId = row['album_id']
    singleDate = row['single_release']
    albumDate = row['album_release']
    if(singleDate == ''): singleDate = None
    if(albumId == ''):
        albumId = None
        albumDate = None
    cursor.execute(add_song,(row['id'],row['song_title'],row['artist_id'],albumId,albumDate,singleDate))
mydb.commit()

In [12]:
cursor.execute('select * from song')
res = cursor.fetchall()
for row in res:
    print(row)

(1, 'Toys in the Attic', 1, 1, datetime.date(1975, 4, 8), None)
(2, 'Walk This Way', 1, 1, datetime.date(1975, 4, 8), None)
(3, 'Space Oddity', 2, 2, datetime.date(1969, 11, 14), None)
(4, 'Under Pressure', 2, None, None, datetime.date(1981, 10, 26))
(5, 'After All', 2, 3, datetime.date(1970, 11, 4), None)
(6, 'Bohemian Rhapsody', 3, 4, datetime.date(1975, 11, 21), None)
(7, 'Sweet Lady', 3, 4, datetime.date(1975, 11, 21), None)
(8, 'The Bare Necessities', 4, 5, datetime.date(1968, 5, 1), None)
(9, 'What a Wonderful World', 4, None, None, datetime.date(1967, 9, 1))
(10, 'Soul Kitchen', 6, 6, datetime.date(1967, 1, 4), None)
(11, 'People Are Strange', 6, 7, datetime.date(1967, 9, 25), None)
(12, 'Empty Sky', 7, 8, datetime.date(1969, 6, 6), None)
(13, 'Your Song', 7, 9, datetime.date(1970, 4, 10), None)
(14, 'Come Down In Time', 7, 10, datetime.date(1970, 10, 30), None)
(15, 'Tiny Dancer', 7, 11, datetime.date(1971, 11, 5), None)
(16, 'Harmony', 7, 12, datetime.date(1973, 10, 5), None)
(17, 'Pinky', 7, 13, datetime.date(1974, 6, 28), None)
(18, 'Can You Feel The Love Tonight', 7, None, None, datetime.date(2007, 1, 1))
(19, 'I Can Help', 5, 14, datetime.date(1975, 5, 7), None)
(20, 'Moody Blue', 5, 15, datetime.date(1977, 7, 19), None)
(21, "Don't Be Cruel", 5, None, None, datetime.date(1956, 2, 2))
(22, "Stompin' at the Savoy", 8, 16, datetime.date(1954, 1, 1), None)
(23, 'Out There', 9, 17, datetime.date(2017, 6, 2), None)
(24, 'Refrigerator Door', 9, 18, datetime.date(2019, 11, 8), None)
(25, 'The Way She Rides', 9, 19, datetime.date(2014, 2, 4), None)
(26, 'Danger', 10, 21, datetime.date(2014, 9, 19), None)
(27, 'War of Hormone', 10, 21, datetime.date(2014, 9, 19), None)
(28, 'Blood Sweat & Tears', 10, 22, datetime.date(2017, 2, 13), None)
(29, 'Good Day', 10, 23, datetime.date(2016, 9, 7), None)
(30, 'Crystal Snow', 10, 24, datetime.date(2018, 4, 4), None)
(31, 'Filter', 10, 25, datetime.date(2020, 2, 21), None)
(32, 'Permission to Dance', 10, None, None, datetime.date(2021, 7, 9))
(33, 'PA PA YA!!', 11, 26, datetime.date(2019, 10, 8), None)
(34, 'KARATE', 11, 27, datetime.date(2016, 3, 29), None)
(35, 'Line!', 11, 28, datetime.date(2014, 2, 26), None)
(36, 'Bathtub', 12, 29, datetime.date(1993, 11, 23), None)
(37, 'Ride 4 Me', 12, 30, datetime.date(1996, 11, 12), None)
(38, 'Wrong Idea', 12, 31, datetime.date(2000, 12, 19), None)
(39, 'Go Away', 12, 31, datetime.date(2000, 12, 19), None)
(40, "Drop It Like It's Hot", 12, None, None, datetime.date(2004, 9, 27))
(41, 'Pero Ya No', 13, 33, datetime.date(2020, 2, 29), None)
(42, 'TRELLAS', 13, 34, datetime.date(2020, 11, 27), None)
(43, 'Caro', 13, 32, datetime.date(2018, 12, 24), None)
(44, 'Love Will Keep Us Together', 14, 35, datetime.date(1975, 5, 23), None)
(45, 'Song of Joy', 14, 36, datetime.date(1976, 5, 27), None)
(46, "Brandy (You're a Fine Girl)", 15, 37, datetime.date(1972, 6, 6), None)
(47, "driver's license", 16, None, None, datetime.date(2021, 1, 8))
(48, 'dÃ©jÃ\xa0 vu', 16, None, None, datetime.date(2021, 4, 1))
(49, 'good 4 u', 16, None, None, datetime.date(2021, 5, 14))

In [13]:
print('2. Find names of artists who have songs that are in albums as well as outside of albums (singles).')

query = 'select distinct artist_name from artist AR, song S\
        where S.artist_id = AR.id and S.artist_id in \
        (select artist_id from song where album_id is not null) \
        and S.artist_id in (select artist_id from song where single_release is not null)'


doquery(query)

2. Find names of artists who have songs that are in albums as well as outside of albums (singles).
('BTS',)
('David Bowie',)
('Elton John',)
('Elvis Presley',)
('Louis Armstrong',)
('Snoop Dogg',)

In [14]:
print("7. Find the top 10 most prolific artists (most number of songs) in the years 1990-2010? Count each song in an album individually.")
query = 'select artist_name,count(*) as number_of_songs from song S, artist AR \
        where S.artist_id = AR.id \
        and ((year(S.album_release) between 1990 and 2010) or (year(S.single_release) between 1990 and 2010))group by artist_name \
        order by number_of_songs desc limit 10'
doquery(query)

7. Find the top 10 most prolific artists (most number of songs) in the years 1990-2010? Count each song in an album individually.
('Snoop Dogg', 5)
('Elton John', 1)

In [15]:
print("10. Find all artists who discontinued making music after 1993")
query = 'select distinct artist_name as artist_title from song S, artist AR \
        where S.artist_id = AR.id \
        and ((year(S.album_release) <= 1993) or (year(S.single_release) <= 1993))'
doquery(query)

10. Find all artists who discontinued making music after 1993
('Aerosmith',)
('Benny Goodman',)
('David Bowie',)
('Elton John',)
('Elvis Presley',)
('Looking Glass',)
('Louis Armstrong',)
('Queen',)
('Snoop Dogg',)
('The Captain and Tenille',)
('The Doors',)

In [16]:
reader = csv.DictReader(open('song_genres.csv'))
for index,row in enumerate(reader):
    cursor.execute(add_song_genre,(row['song_id'],row['genre_name']))
cursor.execute('select * from song_genre')
res = cursor.fetchall()
for row in res:
    print(row)
mydb.commit()

(1, 'rock')
(2, 'rock')
(3, 'rock')
(4, 'pop')
(5, 'rock')
(6, 'rock')
(7, 'rock')
(8, 'jazz')
(9, 'jazz')
(10, 'rock')
(11, 'rock')
(12, 'rock')
(13, 'rock')
(14, 'rock')
(15, 'rock')
(16, 'rock')
(17, 'rock')
(18, 'pop')
(19, 'blues')
(20, 'blues')
(21, 'blues')
(22, 'jazz')
(23, 'country')
(24, 'country')
(25, 'country')
(26, 'k-pop')
(27, 'k-pop')
(28, 'k-pop')
(29, 'k-pop')
(30, 'k-pop')
(31, 'k-pop')
(32, 'j-pop')
(33, 'j-pop')
(34, 'j-pop')
(35, 'j-pop')
(36, 'hip hop')
(37, 'hip hop')
(38, 'hip hop')
(39, 'hip hop')
(40, 'hip hop')
(41, 'latin')
(42, 'latin')
(43, 'latin')
(44, 'pop')
(45, 'pop')
(46, 'rock')
(47, 'pop')
(48, 'pop')
(49, 'pop')
(49, 'alt-rock')
(43, 'reggaeton')
(42, 'reggaeton')
(40, 'r&b')
(33, 'heavy metal')
(34, 'heavy metal')
(35, 'heavy metal')
(32, 'pop')
(22, 'big band')
(3, 'alt-rock')
(4, 'r&b')

In [17]:
print('1. Which 3 genres are most represented in terms of number of songs in that genre?')
query = ('select genre, count(*) as number_of_songs from song_genre group by genre order by count(*) desc limit 3')
doquery(query)

1. Which 3 genres are most represented in terms of number of songs in that genre?
('rock', 15)
('pop', 8)
('k-pop', 6)

In [18]:
reader = csv.DictReader(open('users.csv'))
for index,row in enumerate(reader):
    cursor.execute(add_user,(row['username'],))
cursor.execute('select * from user')
res = cursor.fetchall()
for row in res:
    print(row)
mydb.commit()

('bearfrom5plashMountain',)
('bobTheTomato',)
('cnwestfield1006South',)
('cocoBAP',)
('DavidThompson',)
('doubleDribbleStork2019',)
('flyingShadowTechnique',)
('fruitPunchSamurai',)
('futureOfPast07',)
('gabigo45',)
('larryTheCucumber',)
('mgc109@rutgers',)
('nestkyBTS',)
('nopeengineer1',)
('pittjosh4A',)
('pstar7',)
('pumpkineater69',)
('thehappydragneel',)
('willabyWallabyIII',)

In [19]:
reader = csv.DictReader(open('playlists.csv'))
for index,row in enumerate(reader):
    cursor.execute(add_playlist,(row['id'],row['playlist_title'],row['user'],row['date'],row['time']))
cursor.execute('select * from playlist')
res = cursor.fetchall()
for row in res:
    print(row)
mydb.commit()

(1, 'rockSongs', 'mgc109@rutgers', datetime.date(2020, 3, 19), datetime.timedelta(seconds=63360))
(2, 'kPopSongs', 'nopeengineer1', datetime.date(2019, 4, 10), datetime.timedelta(seconds=55080))
(3, 'musicCollection', 'flyingShadowTechnique', datetime.date(2018, 7, 10), datetime.timedelta(seconds=75360))
(4, 'countryRock', 'gabigo45', datetime.date(2018, 6, 16), datetime.timedelta(seconds=19020))
(5, 'drivingMusic', 'thehappydragneel', datetime.date(2021, 2, 20), datetime.timedelta(seconds=9180))
(6, 'StudyBreak', 'pstar7', datetime.date(2019, 4, 14), datetime.timedelta(seconds=35100))
(7, 'MyFavorites', 'bearfrom5plashMountain', datetime.date(2012, 2, 16), datetime.timedelta(seconds=27300))
(8, 'GoldenOldies', 'willabyWallabyIII', datetime.date(2012, 5, 31), datetime.timedelta(seconds=63900))
(9, 'Radio', 'pstar7', datetime.date(2003, 9, 29), datetime.timedelta(seconds=52620))
(10, 'PartyPlaylist', 'fruitPunchSamurai', datetime.date(2018, 11, 26), datetime.timedelta(seconds=14280))
(11, 'rockSongs', 'cocoBAP', datetime.date(2003, 10, 8), datetime.timedelta(seconds=45780))
(12, 'AsianMusic!!', 'nestkyBTS', datetime.date(2015, 12, 14), datetime.timedelta(seconds=44820))
(13, 'KingsofRock', 'fruitPunchSamurai', datetime.date(2006, 5, 11), datetime.timedelta(seconds=58020))
(14, 'Classics', 'fruitPunchSamurai', datetime.date(2002, 2, 26), datetime.timedelta(seconds=64620))
(15, 'JazzMen', 'willabyWallabyIII', datetime.date(2015, 2, 22), datetime.timedelta(seconds=32700))
(16, 'AwesomeMix', 'futureOfPast07', datetime.date(2008, 7, 24), datetime.timedelta(seconds=82260))
(17, 'AwesomeMixVol2', 'futureOfPast07', datetime.date(2002, 4, 6), datetime.timedelta(seconds=2880))
(18, 'ILoveElton', 'pittjosh4A', datetime.date(2020, 8, 27), datetime.timedelta(seconds=85320))
(19, 'ForeignMusic', 'pumpkineater69', datetime.date(2008, 12, 11), datetime.timedelta(seconds=18840))
(20, 'Extreme', 'doubleDribbleStork2019', datetime.date(2007, 10, 11), datetime.timedelta(seconds=55860))
(21, 'StudyBreak', 'cnwestfield1006South', datetime.date(2015, 2, 15), datetime.timedelta(seconds=75540))
(22, 'RememberThese', 'larryTheCucumber', datetime.date(2015, 7, 13), datetime.timedelta(seconds=6420))
(23, 'PartyPicks', 'larryTheCucumber', datetime.date(2016, 7, 15), datetime.timedelta(seconds=29640))
(24, 'ElvisAndDoors', 'bobTheTomato', datetime.date(2006, 8, 1), datetime.timedelta(seconds=74280))
(25, '2000sAndBeyond', 'DavidThompson', datetime.date(2009, 5, 7), datetime.timedelta(seconds=25620))
(26, '20thCentury', 'DavidThompson', datetime.date(2021, 11, 24), datetime.timedelta(seconds=59220))
(27, '90s', 'DavidThompson', datetime.date(2007, 2, 27), datetime.timedelta(seconds=59400))
(28, '70s', 'DavidThompson', datetime.date(2010, 1, 17), datetime.timedelta(seconds=61140))
(29, '80s', 'DavidThompson', datetime.date(2011, 4, 25), datetime.timedelta(seconds=9900))

In [20]:
reader = csv.DictReader(open('song_playlists.csv'))
for index,row in enumerate(reader):
    cursor.execute(add_song_playlist,(row['song_id'],row['playlist']))
cursor.execute('select * from song_playlist')
res = cursor.fetchall()
mydb.commit()

In [21]:
print("8. Find the top 10 songs that are in most number of playlists. Break ties in alphabetical order of song titles.")
query = ("select song_title,count(*) as number_of_playlists from song S, song_playlist SP \
            where SP.song_id = S.id group by S.song_title order by count(*) desc,S.song_title limit 10")
doquery(query)

8. Find the top 10 songs that are in most number of playlists. Break ties in alphabetical order of song titles.
('Walk This Way', 12)
('Moody Blue', 11)
("Don't Be Cruel", 10)
('People Are Strange', 10)
('Soul Kitchen', 10)
('Come Down In Time', 9)
('Harmony', 9)
('Line!', 9)
('Tiny Dancer', 9)
('Toys in the Attic', 9)

In [22]:
reader = csv.DictReader(open('ratings.csv'))
for index,row in enumerate(reader):
    songID = row['song_id']
    albumID = row['album_id']
    playlistID = row['playlist_id']
    if(songID == ''): songID = None
    if(albumID == ''): albumID = None
    if(playlistID == ''): playlistID = None
    cursor.execute(add_rating,(row['user'],row['rating'],row['type'],songID,albumID,playlistID,row['date']))
mydb.commit()

In [23]:
print("3. What were the top 10 most highly rated albums (highest average user rating) in the period 1990-1999? Break ties using alphabetical order of album names. (Period refers to the rating date, NOT the date of release).")
query = ("select album_title as album_name,round(avg(rating_number),1) as average_user_rating from album AB, rating R \
            where AB.id = R.album_id and R.type='album' and year(R.date) between 1990 and 1999 group by album_name \
            order by average_user_rating desc, album_name limit 10")
doquery(query)

3. What were the top 10 most highly rated albums (highest average user rating) in the period 1990-1999? Break ties using alphabetical order of album names. (Period refers to the rating date, NOT the date of release).
('Babymetal', Decimal('4.0'))
('Looking Glass', Decimal('4.0'))
('Today', Decimal('4.0'))
('Goodbye Yellow Brick Road', Decimal('3.0'))
('Love Will Keep Us Together', Decimal('3.0'))
('Strange Days', Decimal('3.0'))
('Tha Doggfather', Decimal('3.0'))
('Toys in the Attic', Decimal('3.0'))
('What You See is What You Get', Decimal('3.0'))
('B.G. in Hi-Fi', Decimal('2.0'))

In [24]:
print("4. Which were the top 3 most rated genres (this is the number of ratings of songs in genres, not the actual rating scores) in the years 1991-1995? (Years refers to the rating date, NOT the date of release).")
query = "select SG.genre as genre,count(*) as number_of_song_ratings from song S,song_genre SG, rating R \
            where S.id = SG.song_id and S.id = R.song_id and SG.song_id = R.song_id and R.type='song' and year(R.date) between 1991 and 1995 \
            group by genre order by count(*) desc limit 3"
doquery(query)

4. Which were the top 3 most rated genres (this is the number of ratings of songs in genres, not the actual rating scores) in the years 1991-1995? (Years refers to the rating date, NOT the date of release).
('hip hop', 1)
('blues', 1)
('k-pop', 1)

In [25]:
print("5. Which users have a playlist that has an average song rating of 4.0 or more? \n(This is the average of the average song rating for each song in the playlist.) \n A user may appear multiple times in the result if more than one of their playlists make the cut.")
query2 = "select user,playlist_title,round(avg(avg_rating),1) as average_song_rating from song_playlist SP,playlist P, \
          (select song_id,round(avg(rating_number),1) as avg_rating from rating R where R.type='song' group by song_id) SA \
          where SP.playlist_id = P.id and SA.song_id = SP.song_id\
          group by playlist_id having average_song_rating >= 4.0 order by average_song_rating"

doquery(query2)

5. Which users have a playlist that has an average song rating of 4.0 or more?
(This is the average of the average song rating for each song in the playlist.)
 A user may appear multiple times in the result if more than one of their playlists make the cut.
('DavidThompson', '90s', Decimal('5.0'))

In [26]:
print("6. Who are the top 5 most engaged users in terms of number of ratings that they have given to songs or albums? \n(In other words, they have given the most number of ratings to songs or albums combined.)")
query = "select user as username, count(*) as number_of_ratings from rating R \
        where R.type != 'playlist' group by username order by count(*) desc limit 5"
doquery(query)

6. Who are the top 5 most engaged users in terms of number of ratings that they have given to songs or albums?
(In other words, they have given the most number of ratings to songs or albums combined.)
('futureOfPast07', 10)
('pstar7', 10)
('fruitPunchSamurai', 10)
('doubleDribbleStork2019', 10)
('willabyWallabyIII', 9)

In [27]:
print("9. Find the top 20 most rated singles (songs that are not part of an album). Most rated meaning number of ratings, not actual rating scores. The result must have 3 columns, named song_title, artist_name, number_of_ratings.")

query = "select song_title,artist_name,count(*) as number_of_ratings from artist A, song S, rating R \
         where R.type='song' and R.song_id = S.id and S.artist_id = A.id and S.album_release is null group by song_title \
         order by count(*) desc"
doquery(query)

9. Find the top 20 most rated singles (songs that are not part of an album). Most rated meaning number of ratings, not actual rating scores. The result must have 3 columns, named song_title, artist_name, number_of_ratings.
('What a Wonderful World', 'Louis Armstrong', 2)
("Don't Be Cruel", 'Elvis Presley', 2)
('Permission to Dance', 'BTS', 2)
("driver's license", 'Olivia Rodrigo', 2)
('Can You Feel The Love Tonight', 'Elton John', 1)
("Drop It Like It's Hot", 'Snoop Dogg', 1)
('dÃ©jÃ\xa0 vu', 'Olivia Rodrigo', 1)
('good 4 u', 'Olivia Rodrigo', 1)

In [28]:
cursor.close()
mydb.close()